<div>
<h1 fxFlex fxLayout="row" fxFlexAlign="left" >Árvore Organizacional</h1>
</div>
<div>
<div class="principal" fxFlex=50>

    <h3>Total: {{ total }}</h3> <span class="black">👦🏻 {{ masculino }}</span>
    <span class="black">👧🏼 {{ feminino}}</span>
    <span class="black">💡 {{  lider}}</span>
    <hr>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" >
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle   >
        <li class="mat-tree-node">
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
         <span *ngIf="node.sexo == 'M'" >👦🏻</span>
         <span *ngIf="node.sexo == 'F'" >👧🏼</span>

         {{node.name }}
         <span *ngIf="node.lider" class="lider">💡</span>
        </li>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" >
        <li>
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.name" >
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <span *ngIf="node.sexo == 'M'" >👦🏻</span>
            <span *ngIf="node.sexo == 'F'" >👧🏼</span>

            {{node.name }}  <span [matBadge]="node.quant || ''" matBadgeOverlap="false"></span>
            <span *ngIf="node.lider" class="lider">💡</span>
          </div>
          <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>

  </div>
  <div class="interno" fxFlex=50>
      <h3>Disponibilidade</h3>
      <hr>


   <div *ngFor="let key of objectKeys(dias)">
     <br>
     <span class="dispo">
    {{ key }}: {{ dias[key].count }}
  </span>
  <div *ngFor="let key2 of objectKeys(dias[key].periodo)">
    <br>
    <span class="dispo">
   {{ key2 }}: {{ dias[key].periodo[key2].count}}
 </span>
</div>
</div>


  </div>
</div>
