.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  background-color: greenyellow;

}

.principal{
  background-color: greenyellow;
  min-width: 500px;
  border: 2px solid black;
}

.interno{
  background-color: yellow;
  min-width: 500px;
  border: 2px solid black;
  span{
    margin-left:25px;
    color:black
  }
}

h3{
  margin-left:15px;
}

h1 {
  color: #e23237;
  text-shadow: 2px 2px 1px #c3002f;
}

span{
  margin-left: 3px;
  color:white
}
