<mat-nav-list>
    <a mat-list-item routerLink="/perfil" *ngIf="isUser">
      <!-- <mat-icon>group</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)" *ngIf="isUser">Perfil</span>
    </a>
    <a mat-list-item routerLink="/designacoes" *ngIf="isUser">
      <!-- <mat-icon>group</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)" *ngIf="isUser">Designações</span>
    </a>
    <div *ngIf="isAdmin">
    <a mat-list-item routerLink="/dias" >
      <!-- <mat-icon>group</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)">Dias</span>
    </a>
    <a mat-list-item routerLink="/periodos" >
      <!-- <mat-icon>perm_identity</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)">Períodos</span>
    </a>
    <a mat-list-item routerLink="/diasperiodos" >
      <!-- <mat-icon>perm_identity</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)">DiasXPeriodos</span>
    </a>
    <a mat-list-item routerLink="/circuitos" >
      <!-- <mat-icon>toys</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)">Circuitos</span>
    </a>
    <a mat-list-item routerLink="/congregacoes" >
      <!-- <mat-icon>toys</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)">Congregacoes</span>
    </a>
    <a mat-list-item routerLink="/voluntarios" >
      <!-- <mat-icon>toys</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)">Voluntarios</span>
    </a>
    <a mat-list-item routerLink="/arvores" >
      <!-- <mat-icon>toys</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)">Árvore</span>
    </a>
    <a mat-list-item routerLink="/geracoes" >
      <!-- <mat-icon>toys</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)">Geração</span>
    </a>
    <a mat-list-item routerLink="/registros" >
      <!-- <mat-icon>toys</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)">Registros</span>
    </a>
  </div>
  <a mat-list-item routerLink="/senha"  *ngIf="isUser || isAdmin">
      <!-- <mat-icon>group</mat-icon> -->
      <span class="nav-caption" (click)="onClose($event.target.innerHTML)" >Senha</span>
    </a>
  <a mat-list-item (click)="onLogout()" *ngIf="isUser || isAdmin">
    <!-- <mat-icon>group</mat-icon> -->
    <span class="nav-caption" (click)="onClose($event.target.innerHTML)" >Sair</span>
  </a>
  <!-- </a> -->
    <!-- <mat-list-item>
      <button mat-icon-button (click)="onLogout()">
        <span class="nav-caption">Sair</span>
      </button>
    </mat-list-item> -->
  </mat-nav-list>
