
span{
  font-weight: bold;
}
.card{
  width: 100%;
  background-color: whitesmoke;
  color: black;
  width: 100%;
}

.salvar{
  width: 100%;
}

.dispo{
  width: 100%;
}

.tela{
  margin:5px;
}

.bttelegram{
background-color: rgb(83, 170, 211);
}


