
span{
  font-weight: bold;
}
.card{
  width: 100%;
  background-color: rgb(23, 66, 73);
  color: whitesmoke;
  width: 100%;
}

button{
  width: 100%;
}

.dispo{
  width: 100%;
}

.tela{
  margin:5px;
}

