
<div class="tela" fxLayout="column" fxLayoutAlign="center center">
<mat-card class="card" >
  <mat-card-header>
    <mat-card-title>{{ voluntario?.nome }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
    <p ><span>Email:</span> {{ voluntario?.email }}</p>
    <p><span>Telefone:</span> {{ voluntario?.telefone | mask:"(00) 00000-0000" }}</p>
    <p><span>Sexo:</span> {{ voluntario?.sexo === 'M' ? 'Masculino' : 'Feminino'  }}</p>
    <p><span>Congregação:</span> {{ voluntario?.congregacao }}</p>
    <p><span>Cidade:</span> {{ voluntario?.cidade }}</p>
  </mat-card-content>

  <mat-divider [inset]="true"></mat-divider>
  <h3>Disponibilidade: *</h3>
<div *ngIf="voluntario?.dependente && pronto">
    <h5>Disponibilidade dependente de {{ voluntario.nomeDepString }}</h5>
</div>
<div class="dispo" fxLayout="row" fxLayout.lt-sm="column" *ngIf="!voluntario?.dependente && pronto">
  <mat-card *ngFor="let obj of diaPeriodoSet" id="listaDiaPeriodo" fxLayout="row">
    <div>
      <h3>{{ obj.dias }}</h3>
      <div *ngFor="let periodo of obj.periodos">

        <h4>
          <mat-checkbox [(ngModel)]="periodo.checked" >{{ periodo.name }}</mat-checkbox>
        </h4>


      </div>
    </div>
  </mat-card>
  <button type="button" mat-raised-button color="primary" (click)="save()">Salvar</button>

</div>
</mat-card>
</div>
