<mat-toolbar color="primary" autosize>
  <div fxHide.gt-md>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
   <div>
    <img src="assets/logo.png" style="width:100px; height:100px;">
  </div>
   <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.lt-md class="item">
    <ul fxLayout  fxLayoutGap="25px" class="navigation-items">
      <li>
         <a routerLink="/dias" (click)="changeMiniHeader($event.target.text)">Dias</a>
      </li>
      <li>
          <a routerLink="/periodos" (click)="changeMiniHeader($event.target.text)">Períodos</a>
       </li>
       <li>
        <a routerLink="/diasperiodos" (click)="changeMiniHeader($event.target.text)">DiasXPeríodos</a>
      </li>
      <li>
        <a routerLink="/circuitos" (click)="changeMiniHeader($event.target.text)">Circuitos</a>
      </li>
      <li>
        <a routerLink="/congregacoes" (click)="changeMiniHeader($event.target.text)">Congregações</a>
      </li>
      <li>
        <a routerLink="/voluntarios" (click)="changeMiniHeader($event.target.text)">Voluntários</a>
      </li>
      <li>
          <a routerLink="/arvores" (click)="changeMiniHeader($event.target.text)">Árvore</a>
        </li>
        <li>
          <a routerLink="/geracoes" (click)="changeMiniHeader($event.target.text)">Geração</a>
        </li>
        <li>
          <a routerLink="/register" (click)="changeMiniHeader($event.target.text)">Registro</a>
        </li>
    </ul>
  </div>
  <div>

    <ul fxFlex fxLayout fxLayoutAlign="flex-end">

        <a id="userLogged"  >{{ loggedInUser }}</a>

      <li   fxHide.lt-md>
          <a routerLink="/" (click)="onLogout()" id="sair">Sair</a>
      </li>
    </ul>
  </div>
</mat-toolbar>




