<mat-toolbar color="primary" autosize>
  <div fxHide.gt-md>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
   <div>
     <h1>CDP</h1>
     <!-- <img src="assets/logo5.png" style="width:100px; height:65px; margin-top:10px;"> -->
  </div>
   <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.lt-md class="item">

    <div class="user">
      <a *ngIf="isUser"  class="user" routerLink="/perfil">Perfil</a>
    </div>

<div *ngIf="isAdmin" class="admin" fxFlex fxLayout="row">
        <button mat-button [matMenuTriggerFor]="menu">Setup</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/dias">Dias</button>
          <button mat-menu-item routerLink="/periodos">Períodos</button>
          <button mat-menu-item routerLink="/diasperiodos">DiasXPeríodos</button>
          <button mat-menu-item routerLink="/circuitos">Circuitos</button>
          <button mat-menu-item routerLink="/congregacoes">Congregações</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu2">Administração</button>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item routerLink="/arvores">Árvore</button>
            <button mat-menu-item routerLink="/voluntarios">Voluntários</button>
            <button mat-menu-item routerLink="/registros">Registros</button>
          </mat-menu>
        <button *ngIf="isAdmin" class="geracao" mat-menu-item routerLink="/geracoes">Geração</button>
  </div>

  <div class="senha" *ngIf="isUser || isAdmin">
      <a class="senha" routerLink="/senha">Senha</a>
    </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <span id="userLogged"  >{{ loggedInUser }}</span>
        <div class="sair"  fxHide.lt-md>
        <a class="sair" routerLink="/" (click)="onLogout()">Sair</a>
      </div>
  </div>
</div>

</mat-toolbar>




