<h2>DiasXPeríodos</h2>
<div>
  <button id="buttonAdd" mat-raised-button color="primary" (click)="save()">Salvar</button>
</div>
<div fxLayout="row" fxLayout.lt-sm="column" >
<mat-card *ngFor="let obj of diaPeriodo"  id="listaDiaPeriodo" >
  <div class="cardGap" fxLayoutGap="32px">
    <h3>{{ obj.dias }}</h3>
    <div *ngFor="let periodo of obj.periodos" >

      <h4>
        <mat-checkbox [(ngModel)]="periodo.checked">{{ periodo.name }}</mat-checkbox>
      </h4>


    </div>
  </div>
</mat-card>
</div>
