<div class="cockpit" >
    <mat-form-field class='ano'>
        <mat-select  [(ngModel)]="ano" (selectionChange)="findDaysOfMonth()">
          <mat-option *ngFor="let c of anos" [value]="c">
            {{c}}
          </mat-option>
        </mat-select>
      </mat-form-field>

<mat-form-field class='mes'>
  <mat-select  [(ngModel)]="mes" (selectionChange)="findDaysOfMonth()">
    <mat-option *ngFor="let c of meses" [value]="c">
      {{c}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-button-toggle-group class="toggleDay" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle *ngFor="let day of days" matTooltip={{day[1]}} (click)="setDay(day[0],day[1])">{{ day[0] }}</mat-button-toggle>
  </mat-button-toggle-group>

</div>


<div >
<div fxFlex=60>
    <mat-radio-group  [(ngModel)]="choiceConfig">
  <br>

  <table *ngFor="let per of periodos[0]?.periodos;let i = index" >
    <div fxFlex class="headerConfig">

          <mat-radio-button [value]="i" (click)="changeVoluntariosInWeek(per.name)">Configurar</mat-radio-button>
    <h1>{{vagasOcupadas(vagas[i])}}/{{ vagas[i].length}}</h1>
    <span >👦🏻{{vagasOcupadasBoy(vagas[i])}}</span>
    &nbsp;
    <span >👧🏼{{vagasOcupadasGirl(vagas[i])}}</span>

    </div>
    <tr>
      <th class="buttonDelete"></th>
    <th>{{ dayweek.toUpperCase() }}</th>
    <th class="linhaCong">{{ day }}-{{ mes.substr(0,3) }}</th>
  </tr>
<tr>
  <th class="buttonDelete"></th>
    <th>{{ per.name }} </th>
    <th class="linhaCong">CONGREGAÇÃO</th>
  </tr>

  <tr *ngFor="let vaga of vagas[i];let v = index" >
      <td class="buttonDelete"> <button *ngIf="vaga.name && this.choiceConfig === i" (click)="removeFromEscala(vaga,v)">-</button></td>
      <td>{{vaga?.name || 'livre'}}<span class="lider" *ngIf="vaga.lider" >💡</span></td>
      <td class="linhaCong">{{ vaga?.congregacao }}</td>
     </tr>

  </table>
</mat-radio-group>
</div>

<div  *ngIf="showBox" class="secaoVoluntarios" fxFlex=30>
    <div class="inline" fxLayout="row">
    <mat-form-field fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="gappx">
        <input class="inline" matInput (keyup)="applyFilter($event?.target?.value)" placeholder="Filtro">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

          <button id="distanceButton" mat-icon-button (click)="sortByAlpha()">
              <mat-icon >sort_by_alpha</mat-icon>
            </button>
            <button mat-icon-button (click)="sortByTime()">
                <mat-icon>access_time</mat-icon>
              </button>
              <button mat-icon-button (click)="sortByCong()">
                  <mat-icon>store_mall_directory</mat-icon>
                </button>
                &nbsp; &nbsp; &nbsp; &nbsp;
                 <h4>{{disponiveis(voluntarioRef)}}</h4>
            </div>
  <div class="secaoScroll" *ngFor="let vol of voluntarioRef;let v = index" >
    <div>
      <button *ngIf="!vol.dependente" [disabled]="vol.usado" mat-stroked-button class="addButton" (click)="addToEscala(vol,v)"><mat-icon>add</mat-icon></button>
      <button *ngIf="vol.dependente"  mat-stroked-button class="addButton" (click)="infoAboutDependente(vol,v)">  <mat-icon >airline_seat_recline_normal</mat-icon></button>

   <mat-card  fxFlex=95 class="listVoluntarios" >
    <div fxLayout="row"  >
      <div fxFlex=70>
      <span class="lider" *ngIf="vol.lider" >💡</span>
       <span class="boneco" *ngIf="vol.sexo == 'M'" [matTooltip]="vol.nomeDepString">👦🏻</span>
      <span class="boneco" *ngIf="vol.sexo == 'F'" [matTooltip]="vol.nomeDepString">👧🏼</span>
    {{ vol.name }}
  </div>
  <div fxFlex=30>
      <span  class="congtext">{{ vol.congregacao }}
        </span>
      </div>
  <div fxFlex=20>
    <span  class="bonecoDate">⏱️{{ vol.ultimavez['seconds'] * 1000 | date: 'dd/MM/yyyy' }}
      </span>
    </div>
  </div>
  </mat-card>
</div>

  </div>

  </div>

</div>

