mat-list{
  margin-top: 20px;
  background-color: #FDFFFC;
}

.right{
  margin: 0 0 0 auto;
}


#buttonAdd{
margin-bottom: 10%;
}

#congAlign{
margin-right: 25px
}

#circuitoStyle{
  font-size: .8em;
}
