
mat-list-item{
  background-color: #FDFFFC;

}

.right{
  margin: 0 0 0 auto;
}


#buttonAdd{
margin-bottom: 10%;
}

#congAlign{
margin-right: 25px
}

#circuitoStyle{
  font-size: .7em;
}

.quadList{
  max-height:120vh;
  margin-bottom: 70px;
}

.wrap{
  margin-bottom: 70px;
}
