mat-list{
  margin-top: 20px;
  background-color: #FDFFFC;
}

.right{
  margin: 0 0 0 auto;
}


#buttonAdd{
  margin-bottom: 20px;
  }

  h2 {
    color: rgb(249, 244, 250);
    text-shadow: 1px 1px 1px rgb(201, 196, 201);
    border: 2px solid rgb(39, 57, 70);
    background-color: rgb(39, 57, 70);
    text-align: center;
  }
