<h2>Dias</h2>
<button id="buttonAdd" mat-raised-button color="primary" (click)="add()">+</button>
<h3 id="total"><strong>Total: {{ dias.length }}</strong></h3>

<mat-list role="list" *ngIf="dias.length > 0">
  <mat-list-item role="listitem" *ngFor="let c of dias"><strong>{{ c?.name }}     </strong>
    <mat-divider></mat-divider>
<div class="right">
    <button mat-icon-button color="accent" (click)="edit(c)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="delete(c)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  </mat-list-item>

</mat-list>
