#pageSize {
  min-height: 500px;
  margin-top: 2%;
  margin-left: 5%
}

#miniHeader {

  padding: 1.5px;
  border: 1px solid black;
  background-color:  black;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

span{
  color: white;
  margin-left: 1%;
}
