<app-login *ngIf="!isLoggedIn && request && !forgot" (forgot)="forgotPass()"></app-login>
<app-forgotpass *ngIf="!isLoggedIn && request && forgot" (login)="backLogin()"></app-forgotpass>
<mat-sidenav-container *ngIf="isLoggedIn && request" autosize>

  <mat-sidenav #navbar role="navigation">
    <app-navbar
    [isAdmin]="isAdmin"
    [isUser]="isUser"
    (closeSidenav)="navbar.close()"
    (logout)="onLogoutClick()"  >
    </app-navbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header
    [isAdmin]="isAdmin"
    [isUser]="isUser"
    [loggedInUser]="loggedInUser"
    (sidenavToggle)="navbar.toggle()" (logout)="onLogoutClick()" ></app-header>

    <main>
     <div id="pageSize" fxLayout="row" >
      <router-outlet></router-outlet>
    </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
