<app-login *ngIf="!isLoggedIn && request"></app-login>

<mat-sidenav-container *ngIf="isLoggedIn && request" autosize>

  <mat-sidenav #navbar role="navigation">
    <app-navbar (closeSidenav)="navbar.close()" (logout)="onLogoutClick()" (miniText)="changeMiniText($event)">
    </app-navbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sidenavToggle)="navbar.toggle()" (logout)="onLogoutClick()" (miniText)="changeMiniText($event)"></app-header>
    <p id="miniHeader"><span>{{ textMiniHeader }}</span></p>
    <main>
     <div id="pageSize" fxLayout="row" >
      <router-outlet></router-outlet>
    </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
