#pageSize {
  min-height: 500px;
  margin-top: 2%;
  margin-left: 5%
}

#miniHeader {
  font-weight: bold;
  text-align: center;
  padding: 4px;
  border: 1px solid black;
  background-color:  lightblue;
  margin-block-start: 0em;
  margin-block-end: 0em;

}

span{
  color: black;

}



