
  mat-form-field {
    width: 100%;
    display: block;
  }

mat-radio-button{
  margin-right: 20px;
  margin-bottom: 20px;
}

#labelCircuito{
font-size: 0.8em;
}

#nome{
  width: 100%
}


mat-card{
  background-color: #FDFFFC;
  margin-left: 10px;
  min-width: 100px;
  margin-bottom: 20px
}

.dependente{
  margin-right: 20px;
}

.top{
  margin-top: 20px;
}

.left{
  margin-left: 15px;
}
.aditional{
font-size: 0.7em;
float: right;
}

#datePicker{
  max-width: 250px;
}


